@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-select{
    @apply appearance-none block w-full p-2 text-sm font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}
.form-control{
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm;
}

.bg-transparent	{ background-color: transparent; }
.bg-black { background-color: rgb(0 0 0); }
.bg-white {	background-color: rgb(255 255 255); }
.bg-gray-50	{background-color: rgb(249 250 251);}
.bg-gray-100	{background-color: rgb(243 244 246);}
.bg-gray-200	{background-color: rgb(229 231 235);}
.bg-gray-300	{background-color: rgb(209 213 219);}
.bg-gray-400	{background-color: rgb(156 163 175);}
.bg-gray-500	{background-color: rgb(107 114 128);}
.bg-gray-600	{background-color: rgb(75 85 99);}
.bg-gray-700	{background-color: rgb(55 65 81);}
.bg-gray-800	{background-color: rgb(31 41 55);}
.bg-gray-900	{background-color: rgb(17 24 39);}
.bg-red-50	{background-color: rgb(254 242 242);}
.bg-red-100	{background-color: rgb(254 226 226);}
.bg-red-200	{background-color: rgb(254 202 202);}
.bg-red-300	{background-color: rgb(252 165 165);}
.bg-red-400	{background-color: rgb(248 113 113);}
.bg-red-500	{background-color: rgb(239 68 68);}
.bg-red-700	{background-color: rgb(185 28 28);}
.bg-red-600	{background-color: rgb(220 38 38);}
.bg-red-800	{background-color: rgb(153 27 27);}
.bg-red-900	{background-color: rgb(127 29 29);}
.bg-orange-50	{background-color: rgb(255 247 237);}
.bg-orange-100	{background-color: rgb(255 237 213);}
.bg-orange-200	{background-color: rgb(254 215 170);}
.bg-orange-300	{background-color: rgb(253 186 116);}
.bg-orange-400	{background-color: rgb(251 146 60);}
.bg-orange-500	{background-color: rgb(249 115 22);}
.bg-orange-600	{background-color: rgb(234 88 12);}
.bg-orange-700	{background-color: rgb(194 65 12);}
.bg-orange-800	{background-color: rgb(154 52 18);}
.bg-orange-900	{background-color: rgb(124 45 18);}
.bg-amber-50	{background-color: rgb(255 251 235);}
.bg-amber-100	{background-color: rgb(254 243 199);}
.bg-amber-200	{background-color: rgb(253 230 138);}
.bg-amber-300	{background-color: rgb(252 211 77);}
.bg-amber-400	{background-color: rgb(251 191 36);}
.bg-amber-500	{background-color: rgb(245 158 11);}
.bg-amber-600	{background-color: rgb(217 119 6);}
.bg-amber-700	{background-color: rgb(180 83 9);}
.bg-amber-800	{background-color: rgb(146 64 14);}
.bg-amber-900	{background-color: rgb(120 53 15);}
.bg-yellow-50	{background-color: rgb(254 252 232);}
.bg-yellow-100	{background-color: rgb(254 249 195);}
.bg-yellow-200	{background-color: rgb(254 240 138);}
.bg-yellow-300	{background-color: rgb(253 224 71);}
.bg-yellow-400	{background-color: rgb(250 204 21);}
.bg-yellow-500	{background-color: rgb(234 179 8);}
.bg-yellow-600	{background-color: rgb(202 138 4);}
.bg-yellow-700	{background-color: rgb(161 98 7);}
.bg-yellow-800	{background-color: rgb(133 77 14);}
.bg-yellow-900	{background-color: rgb(113 63 18);}
.bg-green-50	{background-color: rgb(240 253 244);}
.bg-green-100	{background-color: rgb(220 252 231);}
.bg-green-200	{background-color: rgb(187 247 208);}
.bg-green-300	{background-color: rgb(134 239 172);}
.bg-green-400	{background-color: rgb(74 222 128);}
.bg-green-500	{background-color: rgb(34 197 94);}
.bg-green-600	{background-color: rgb(22 163 74);}
.bg-green-700	{background-color: rgb(21 128 61);}
.bg-green-800	{background-color: rgb(22 101 52);}
.bg-green-900	{background-color: rgb(20 83 45);}
.bg-cyan-50	{background-color: rgb(236 254 255);}
.bg-cyan-100	{background-color: rgb(207 250 254);}
.bg-cyan-200	{background-color: rgb(165 243 252);}
.bg-cyan-300	{background-color: rgb(103 232 249);}
.bg-cyan-400	{background-color: rgb(34 211 238);}
.bg-cyan-500	{background-color: rgb(6 182 212);}
.bg-cyan-600	{background-color: rgb(8 145 178);}
.bg-cyan-700	{background-color: rgb(14 116 144);}
.bg-cyan-800	{background-color: rgb(21 94 117);}
.bg-cyan-900	{background-color: rgb(22 78 99);}
.bg-sky-50	{background-color: rgb(240 249 255);}
.bg-sky-100	{background-color: rgb(224 242 254);}
.bg-sky-200	{background-color: rgb(186 230 253);}
.bg-sky-300	{background-color: rgb(125 211 252);}
.bg-sky-400	{background-color: rgb(56 189 248);}
.bg-sky-500	{background-color: rgb(14 165 233);}
.bg-sky-600	{background-color: rgb(2 132 199);}
.bg-sky-700	{background-color: rgb(3 105 161);}
.bg-sky-800	{background-color: rgb(7 89 133);}
.bg-sky-900	{background-color: rgb(12 74 110);}
.bg-blue-50	{background-color: rgb(239 246 255);}
.bg-blue-100	{background-color: rgb(219 234 254);}
.bg-blue-200	{background-color: rgb(191 219 254);}
.bg-blue-300	{background-color: rgb(147 197 253);}
.bg-blue-400	{background-color: rgb(96 165 250);}
.bg-blue-500	{background-color: rgb(59 130 246);}
.b.g-blue-600	{background-color: rgb(37 99 235);}
.bg-blue-700	{background-color: rgb(29 78 216);}
.bg-blue-800	{background-color: rgb(30 64 175);}
.bg-blue-900	{background-color: rgb(30 58 138);}
.bg-indigo-50	{background-color: rgb(238 242 255);}
.bg-indigo-100	{background-color: rgb(224 231 255);}
.bg-indigo-200	{background-color: rgb(199 210 254);}
.bg-indigo-300	{background-color: rgb(165 180 252);}
.bg-indigo-400	{background-color: rgb(129 140 248);}
.bg-indigo-500	{background-color: rgb(99 102 241);}
.bg-indigo-600	{background-color: rgb(79 70 229);}
.bg-indigo-700	{background-color: rgb(67 56 202);}
.bg-indigo-800	{background-color: rgb(55 48 163);}
.bg-indigo-900	{background-color: rgb(49 46 129);}
.bg-violet-50	{background-color: rgb(245 243 255);}
.bg-violet-100	{background-color: rgb(237 233 254);}
.bg-violet-200	{background-color: rgb(221 214 254);}
.bg-violet-300	{background-color: rgb(196 181 253);}
.bg-violet-400	{background-color: rgb(167 139 250);}
.bg-violet-500	{background-color: rgb(139 92 246);}
.bg-violet-600	{background-color: rgb(124 58 237);}
.bg-violet-700	{background-color: rgb(109 40 217);}
.bg-violet-800	{background-color: rgb(91 33 182);}
.bg-violet-900	{background-color: rgb(76 29 149);}
.bg-purple-50	{background-color: rgb(250 245 255);}
.bg-purple-100	{background-color: rgb(243 232 255);}
.bg-purple-200	{background-color: rgb(233 213 255);}
.bg-purple-300	{background-color: rgb(216 180 254);}
.bg-purple-400	{background-color: rgb(192 132 252);}
.bg-purple-500	{background-color: rgb(168 85 247);}
.bg-purple-600	{background-color: rgb(147 51 234);}
.bg-purple-700	{background-color: rgb(126 34 206);}
.bg-purple-800	{background-color: rgb(107 33 168);}
.bg-purple-900	{background-color: rgb(88 28 135);}
.sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.hover\:bg-red-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28 / var(--tw-bg-opacity));
  }
.hover\:bg-cyan-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(14 116 144 / var(--tw-bg-opacity));
  }
.hover\:bg-amber-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(180 83 9 / var(--tw-bg-opacity));
  }
  .hover\:bg-indigo-700:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(67 56 202 / var(--tw-bg-opacity));
    }
.hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(3 105 161 / var(--tw-bg-opacity));
  }
  .hover\:bg-yellow-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(161 98 7 / var(--tw-bg-opacity));
  }
  .hover\:bg-orange-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(194 65 12 / var(--tw-bg-opacity));
  }
  .hover\:bg-cyan-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(6 182 212/ var(--tw-bg-opacity));
  }
.text-amber-500 {
    --tw-text-opacity: 1;
    color: rgb(245 158 11 / var(--tw-text-opacity));
  }
.text-amber-600 {
    --tw-text-opacity: 1;
    color: rgb(217 119 6 / var(--tw-text-opacity));
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
.unselected{
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.h-full {
    height: 100%;
  }

  .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .font-extrabold {
    font-weight: 800;
  }
  .font-black {
    font-weight: 900;
  }
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .pl-10{
    padding-left: 2.5rem;
  }

@media (min-width: 640px) {
  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.h-48 {
  height: 12rem;
}
